.datepicker-days {
    padding: 20px;
}

th, td {
    font-size: 14px;
}

td.dt-actions {
    min-width: 10rem;
}

table.dataTable tbody td {
    vertical-align: middle;
}

.navbar-text {
    color: white !important;
    margin-right: 2rem;
}

.pcr-button {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
